.textDropdownContainer {
  position: relative;
}

.textDropdownContainer .textContainer {
  float: left;
}

.textDropdownContainer .textContainer .singleMetric {
  cursor: pointer;
  text-decoration: underline;
}

.textDropdownContainer .dropdownContainer {
  position: relative;
  float: left;
}

.textDropdownContainer .dropdownContainer .inputDropdownContainer {
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: max-height 0.05s linear;
  transition: max-height 0.05s linear;
  position: absolute;
  border: 2px solid #333;
  font-size: 11px;
  z-index: 2;
  text-align: center;
  line-height: 12px;
}

.textDropdownContainer .dropdownContainer .inputDropdownContainer .eachItem {
  background-color: rgba(255, 255, 255, 0.93);
  color: #333;
  padding: 0px 10px;
  border-bottom: 1px solid #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  overflow-x: hidden;
  position: relative;
}

.textDropdownContainer .dropdownContainer .inputDropdownContainer .eachItem:hover {
  cursor: pointer;
  background-color: #ddd;
}

.textDropdownContainer .dropdownContainer .inputDropdownContainer .eachItem .hideMetric {
  display: none;
}

.textDropdownContainer .dropdownContainer .inputDropdownContainer .eachItem .eachItemText {
  white-space: nowrap;
}

.textDropdownContainer .dropdownContainer .inputDropdownContainer.open {
  max-height: 83px;
  -webkit-transition: max-height 0.05s linear;
  transition: max-height 0.05s linear;
  z-index: 3;
  overflow-y: scroll;
}
