@import '../../shared/utils/vars';

.stall {
  background-color: darkred;
  color: $light-gray;
}

.rollback {
  background-color: $dark-gold;
  color: $light-gray;
}

.vol-control {
  float: right;
  position: relative;
  bottom: 2px;
  margin-top: 5px;
}

.volume {
  float: right;
  margin-top: 3px;
}

.pollInterval {
  width: 60px;
}

.stallThresholdInput {
  width: 40px;
}

.masterUrl {
  width: 500px;
}

.stallThresholdContainer {
  display: inline;
}

.stallThresholdButton {
  height: 20px;
  line-height: 0px;
  margin: 2px;
}

.response {
  text-align: center;
  margin: 2px 4px;
  min-width: 60px;
  line-height: 25px;
  float: right;
  &.pass {
    background-color: $green-color;
  }

  &.stall {
    background-color: red;
  }

  &.replay {
    background-color: orange;
  }

  &.rollback {
    background-color: $dark-gold;
  }
}

.stallDetectorButton {
  height: 20px;
  line-height: 0px;
  margin: 2px;
}
