$transition-speed: 0.05s;

$off-white: #ddd;
$whitest: #fdfdfd;
$page-background: #eee;

$light-gray: lightgray;

$dark-gold: darkgoldenrod;

$middle-color: #666;

$dark: #333;
$black: #000;

$accent: #0080ff;

$loading-status-color: rgb(255, 145, 0);
$green-color: #99e699;
$highlight-color: yellow;
$error-color: red;
$replay-color: orange;

$link-color: #0080ff;

$singleViewerDisplayBreakPoint: 800px;
$singleViewerMetricDisplayBreakpoint: 1005px;
$singleViewerMetricDisplaySmallScreen: 526px;
$manifestToolsWidth: 30px;
