.view-container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.view-container .manifestsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.view-container .manifestsContainer .cell {
  max-height: 100%;
  padding: 2px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.view-container .manifestsContainer .cell .divider {
  cursor: col-resize;
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
}

.view-container .manifestsContainer .cell .divider.right {
  right: 0;
}

.view-container .manifestsContainer .cell .divider.left {
  left: 0;
}
